[package]
name = "git-trim"
description = "Automatically trims your tracking branches whose upstream branches are merged or stray"
license = "MIT"
version = "0.3.0"
authors = ["SeongChan Lee <foriequal@gmail.com>"]
repository = "https://github.com/foriequal0/git-trim"
readme = "README.md"
keywords = ["git", "branch", "prune", "trim"]
categories = ["command-line-utilities", "development-tools"]
edition = "2018"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
vergen = "3"

[dependencies]
derive_deref = "1.1.0"
dialoguer = "0.5.0"
env_logger = "0.7.1"
git2 = "0.10"
log = "0.4.0"
paw = "1.0"
structopt = { version = "0.3.12", features = ["paw"] }
anyhow = "1.0.26"
glob = "0.3.0"
rayon = "1.3.0"
thiserror = "1.0"

[dev-dependencies]
tempfile = "3.1.0"
textwrap = "0.11.0"
